extends layouts/main

include mixins/products-mini

block content
    div.wrapper
        section.catalog
            h1.catalog__title= pageTitle

            nav.categories-nav
                ul.categories-nav__list
                    li.categories-nav__item
                        a(href="/catalog" class="categories-nav__link") Все категории
                    if categories && categories.length > 0
                        each category in categories
                            li.categories-nav__item
                                a(
                                    href=`/catalog?category=${category.name}${query && query.page ? `&page=${query.page}` : ''}${query && query.limit ? `&limit=${query.limit}` : ''}`
                                    class="categories-nav__link"
                                )= category.name
                    else
                        p Категории не найдены.

            if products && products.length > 0
                p Найдено: #{pagination.totalItems}
            else
                p Найдено: 0

            div.catalog__container(id="products-container")
                if products && products.length > 0
                    each product in products
                        +product-mini(product)
                else
                    p Товаров пока нет.

            if pagination.totalPages > 1
                div.pagination
                    if pagination.hasPrevPage
                        a(href=`/catalog?page=${pagination.currentPage - 1}&limit=${pagination.limit}${query && query.category ? `&category=${query.category}` : ''}${query && query.sort ? `&sort=${query.sort}` : ''}${query && query.minPrice ? `&minPrice=${query.minPrice}` : ''}${query && query.maxPrice ? `&maxPrice=${query.maxPrice}` : ''}` class="pagination__link") Предыдущая

                    span.pagination__info Страница #{pagination.currentPage} из #{pagination.totalPages}

                    if pagination.hasNextPage
                        a(href=`/catalog?page=${pagination.currentPage + 1}&limit=${pagination.limit}${query && query.category ? `&category=${query.category}` : ''}${query && query.sort ? `&sort=${query.sort}` : ''}${query && query.minPrice ? `&minPrice=${query.minPrice}` : ''}${query && query.maxPrice ? `&maxPrice=${query.maxPrice}` : ''}` class="pagination__link") Следующая

            script(src="/js/catalog.js" type="module")
