extends ../layouts/main
include ../mixins/cart-item

block content
    section.cart
        h1.cart__title= pageTitle

        form.cart__registration#orderForm(action="/orders/create", method="POST")
            div.cart__registration-contacts
                h3.cart__title Контактные данные
                div.cart__contacts-container
                    h4 Ваши данные
                    div.cart__input-groups
                        span.cart__input-group-item= user.firstName
                        span.cart__input-group-item= user.phone
                        span.cart__input-group-item= user.email
                div.cart__contacts-container
                    h4 Данные получателя
                    span Если доставку получаете вы, то эти данные не заполняйте
                    div.cart__input-groups
                        label(for="recipientName")
                            input.cart__input-group-item(type="text", class="form-control", id="recipientName",
                                placeholder="Имя получателя", name="recipientName")
                        label(for="recipientPhone")
                            input.cart__input-group-item(type="tel", class="form-control", id="recipientPhone",
                                name="recipientPhone", placeholder="Телефон получателя")

            div.cart__registration-delivery
                h3.cart__title Доставка
                h4 Способ доставки
                div.cart__delivery-options
                    label
                    select.cart__input-group-item(class="form-select", id="deliveryType", name="deliveryType", required)
                        option(value="courier" selected) Курьерская доставка
                        option(value="pickup") Самовывоз
                div.cart__delivery-date#deliveryDetails(style="display: flex;")
                    div.cart__input-groups.cart__input-groups--date
                        label(for="deliveryDate") Выберите дату
                        input.cart__input-group-item(type="date", class="form-control", id="deliveryDate", name="deliveryDate", required)
                    div.cart__input-groups.cart__input-groups--date
                        label(for="deliveryInterval") Выберите интервал получения
                        select.cart__input-group-item(class="form-select", id="deliveryInterval", name="deliveryInterval", required)
                            option(value="09:00-12:00") 09:00 - 12:00
                            option(value="12:00-15:00") 12:00 - 15:00
                            option(value="15:00-18:00") 15:00 - 18:00

                div.cart__delivery-address
                    h4 Адрес доставки
                    span Введите адрес, укажите так же дом и квартиру
                    div.cart__input-groups
                        label(for="deliveryAddress")
                            input.cart__input-group-item(id="deliveryAddress", name="deliveryAddress", type="text", placeholder="Введите адрес")



            div.cart__registration-payment
                h3.cart__title Оплата
                div.cart__payment-options
                    label Способ оплаты
                    select.cart__input-group-item(class="form-select", id="paymentMethod", name="paymentMethod", required)
                        option(value="CASH") Наличными
                        option(value="ONLINE") Онлайн
                div.cart__payment-options
                    label.cart__title Бонусные баллы
                    div.cart__payment-bonus
                        span Монеты на вашем счете:
                        span#availableBonus #{availableBonus}
                    div.cart__payment-options
                        label
                            input.cart__input-group-item(type="radio", name="bonusAction", value="accumulate" checked)
                            | Копить бонусы
                    div.cart__payment-options
                        label
                            input.cart__input-group-item(type="radio", name="bonusAction", value="spend")
                            | Списать все бонусы

            div.cart__decoration.cart__decoration--order
                h3.cart__title Итого
                div.cart__sum
                    span Стоимость товаров
                    span#totalItemsCost #{originalSum} ₽
                div.cart__sum
                    span Стоимость доставки
                    span#deliveryCost 0 ₽
                div.cart__sum
                    h5 Итоговая сумма
                    span#finalTotal #{originalSum} ₽

            input(type="hidden", name="finalTotal", id="finalTotalInput")
            div.cart__payment-bot
                button.cart__button(type="submit") Оформить заказ
                span.cart__payment-comment Нажимая продолжить я даю своё согласие на обработку персональных данных в соответствии с Политикой конфиденциальности



        script.
            document.addEventListener('DOMContentLoaded', () => {
                console.log('DOMContentLoaded event triggered');

                let baseTotal = parseFloat(document.getElementById('totalItemsCost').textContent.replace(/[^0-9.-]+/g, ''));
                let bonusPoints = parseFloat(document.getElementById('availableBonus').textContent.replace(',', '.'));

                console.log('Base Total:', baseTotal);
                console.log('Bonus Points:', bonusPoints);

                const totalItemsCost = document.getElementById('totalItemsCost');
                const deliveryCost = document.getElementById('deliveryCost');
                const finalTotal = document.getElementById('finalTotal');
                const finalTotalInput = document.getElementById('finalTotalInput');

                let deliveryType = 'courier';
                let bonusAction = 'accumulate';

                function calculateDeliveryCost(total) {
                    if (deliveryType === 'pickup') return 0;
                    if (total >= 15000) return 0;
                    if (total >= 7000) return 350;
                    return 400;
                }

                function updateTotals() {
                    let total = baseTotal;
                    let bonusPointsUsed = 0;

                    if (bonusAction === 'spend') {
                        bonusPointsUsed = Math.min(bonusPoints, baseTotal);
                        total = Math.max(total - bonusPointsUsed, 0);
                    }

                    const delivery = calculateDeliveryCost(total);
                    total += delivery;

                    console.log('Итоговая сумма:', total.toFixed(2));

                    deliveryCost.textContent = `${delivery.toFixed(2)} ₽`;
                    finalTotal.textContent = `${total.toFixed(2)} ₽`;
                    finalTotalInput.value = total.toFixed(2);
                }

                document.querySelectorAll('input[name="bonusAction"]').forEach(radio => {
                    radio.addEventListener('change', (event) => {
                        console.log('Выбрано действие с бонусами:', event.target.value);
                        bonusAction = event.target.value;
                        updateTotals();
                    });
                });

                document.getElementById('deliveryType').addEventListener('change', (event) => {
                    console.log('Выбран тип доставки:', event.target.value);
                    deliveryType = event.target.value;

                    const deliveryDetails = document.getElementById('deliveryDetails');
                    const deliveryAddress = document.getElementById('deliveryAddress');

                    if (deliveryType === 'courier') {
                        deliveryDetails.style.display = 'flex';
                        deliveryAddress.removeAttribute('readonly');
                        deliveryAddress.value = '';
                    } else if (deliveryType === 'pickup') {
                        deliveryDetails.style.display = 'flex';
                        deliveryAddress.setAttribute('readonly', true);
                        deliveryAddress.value = 'Партизанск, ул.Замараева, д.9'; // фикс адрес магазина
                    }

                    updateTotals();
                });

                updateTotals();
            });
