mixin product-mini(product)
    article.product__item(class=product.quantityInStock <= 0 ? 'product__item-blur' : '')
        if product.quantityInStock > 0
            a(href=`/product/${product.id}`)
                img.product__image(src=product.imageUrl alt=product.imageDescription || 'Картинка к товару')
        else
            a(href=`/catalog`)
                img.product__image(src=product.imageUrl alt=product.imageDescription || 'Картинка к товару')

        div.product__description
            div.product__name-header
                p.product__name= product.name
                button.product-main__button.product-main__button--favorite(
                    data-product-id=product.id data-in-favorites=product.inFavorites
                    onclick=`toggleFavorite(${product.id}, this)`)
                    svg.heart-icon.heart-outline(xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" viewBox="0 0 16 16" style=product.isFavorite ? 'display: none;': '')
                        path(d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15")
                    if product.quantityInStock > 0
                        svg.heart-icon.heart-fill(xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="red" viewBox="0 0 16 16" style=product.isFavorite ? '' : 'display: none;')
                            path(d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314")
                    else
                        svg.heart-icon.heart-fill(xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="red" viewBox="0 0 16 16" style=product.isFavorite ? 'display: none;' : '')
                            path(d="M8.931.586 7 3l1.5 4-2 3L8 15C22.534 5.396 13.757-2.21 8.931.586M7.358.77 5.5 3 7 7l-1.5 3 1.815 4.537C-6.533 4.96 2.685-2.467 7.358.77")

            div.product__prices
                if product.discount
                    span.product__price= product.discount + ' ₽'
                    span.product__price.discount= product.price + ' ₽'
                else
                    span.product__price= product.price + ' ₽'

            div.product__links
                if product.quantityInStock > 0
                    a(href=`/product/${product.id}` class="product__link product__link--details") Подробнее
                    button.product__link--cart-add.product__link.product__link--cart(
                        onclick=`addToCart(${product.id}, this); return false;`
                        style=product.inCart ? 'display: none;' : ''
                    ) В корзину
                    button.product__link.product__link--cart.product__link--cart-in(
                        onclick=`goToCart(this); return false;` style=product.inCart ? '' : 'display: none;'
                    ) В корзине
                else
                    a(href="/catalog" class="product__link product__link--similar") Товар закончился



