extends ../layouts/main

block content
    section.reviews
        h1.page-title= pageTitle
            div.reviews__list
                if reviews && reviews.length > 0
                    each review in reviews
                        article.review__item
                            h2.review__title Отзыв №#{review.id}
                            p
                                strong Пользователь:
                                | #{review.user.firstName} #{review.user.lastName}
                            p
                                strong Товар:
                                | #{review.product.name}
                            p
                                strong Рейтинг:
                                | #{review.rating}
                            p
                                strong Описание:
                                | #{review.description || 'Нет описания'}
                            p
                                strong Дата создания:
                                | #{new Date(review.createdAt).toLocaleDateString('ru-RU')}
                else
                    p Отзывов пока нет.
