extends ../layouts/main

block content
    section.reviews
        h1.page-title= pageTitle
        article.review__details
            p
                strong Пользователь:
                | #{review.user.firstName} #{review.user.lastName}
            p
                strong Товар:
                | #{review.product.name}
            p
                strong Рейтинг:
                | #{review.rating}
            p
                strong Описание:
                | #{review.description || 'Нет описания'}
            p
                strong Дата создания:
                | #{new Date(review.createdAt).toLocaleDateString('ru-RU')}

